{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block body %}
	<nav class="m-3 breadcrumb-margin" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path("home") }}">Accueil</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path("categoryMain") }}">Categorie</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path("categorySub", {category: product.category.parent.id})}}">{{ product.category.parent.name }}</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path("categoryProducts", {category: product.category.id }) }}">{{ product.category.name }}</a>
			</li>
			<li class="breadcrumb-item">
				<a>{{ product.name }}</a>
			</li>
		</ol>
	</nav>

	<div class="container-lg my-5">
		<h1 class="text-center">{{ product.name }}</h1>

		<div class="row mt-5">
			<div class="col-8">
				<div id="imageCarousel" class="carousel carousel-dark slide" data-bs-ride="true">
					<div class="carousel-indicators">
						{% for index, image in product.images %}
							<button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="{{ index }}" {% if index == 0 %} class="active" aria-current="true" {% endif %} aria-label="Slide {{index}}"></button>
						{% endfor %}
					</div>
					<div class="carousel-inner">
						{% if product.images|length > 0 %}
							{% for index, image in product.images %}
								<div class="carousel-item {% if index == 0 %} active {% endif %}">
									<img src="{{ image.path }}" class="d-block product-img mx-auto" alt="{{ image.title }}">
								</div>
							{% endfor %}
						{% else %}
							<div class="carousel-item active">
								<img src="/img/placeholder.png" class="d-block product-img mx-auto" alt="placeholder">
							</div>
						{% endif %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Précédent</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Suivant</span>
					</button>
				</div>
			</div>
			<div class="col-4">
				<div class="d-flex flex-column">
					<h2 class="m-0">{{ product.category.name }}</h2>
					<p class="text-muted fs-6">
						réf:{{ product.reference }}
					</p>

					<span class="fs-1 mt-5 mx-auto">{{ product.price }}€</span>

					<form class="d-flex mt-4 mx-auto" action="{{ path("cartAdd", {product: product.id}) }}" method="POST">
						<input class="form-control text-center" type="number" name="quantity" min="1" value="1">
						<button class="btn btn-primary" type="submit">Ajouter
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewbox="0 0 16 16">
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
							</svg>
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-8">
				{% apply markdown_to_html %}
				{{ product.description }}
				{% endapply %}
			</div>
			<div class="col-4">
				<table class="table table-hover table-striped">
					<tbody>
						{% for index, item in product.content %}
							<tr>
								<td>{{ index }}</td>
								<td>{{ item }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
