<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}Base!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/custom.css">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			{% include "component/navbar.html.twig" %}
		</header>
		{% block body %}{% endblock %}


		{% for message in app.flashes('success') %}
			<div class="alert alert-success alert-dismissible fade show alert-position text-center rounded overflow-scroll" role="alert">
				<p class="text-break overflow-scroll">{{ message }}</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		{% for message in app.flashes('information') %}
			<div class="alert alert-info alert-dismissible fade show alert-position text-center rounded overflow-scroll" role="alert">
				<p class="text-break overflow-scroll">{{ message }}</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning alert-dismissible fade show alert-position text-center rounded overflow-scroll" role="alert">
				<p class="text-break overflow-scroll">{{ message }}</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger alert-dismissible fade show alert-position text-center rounded overflow-scroll" role="alert">
				<p class="text-break overflow-scroll">{{ message }}</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/js/search.js"></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
