{% extends 'base.html.twig' %}

{% block title %}Information
{% endblock %}

{% block body %}
<nav class="m-3 breadcrumb-margin" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path("home") }}">Accueil</a>
			</li>
			<li class="breadcrumb-item">
				<a>Profil</a>
			</li>
		</ol>
	</nav>
	<div class="container">
		<h1 class="mb-5 text-center">Vos Information</h1>

		<ul class="nav nav-tabs" id="tabs" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="InformationPersonnelle-tab" data-bs-toggle="tab" data-bs-target="#InformationPersonnelle-tab-pane" type="button" role="tab" aria-controls="InformationPersonnelle-tab-pane" aria-selected="true">Information Personnelle</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="securite-tab" data-bs-toggle="tab" data-bs-target="#securite-tab-pane" type="button" role="tab" aria-controls="securite-tab-pane" aria-selected="false">Sécurité</button>
			</li>

		</ul>
		<div class="tab-content" id="tabsContent">
			<div class="tab-pane fade show active" id="InformationPersonnelle-tab-pane" role="tabpanel" aria-labelledby="InformationPersonnelle-tab" tabindex="0">
				<div class="row gy-3 mt-4">
					<div class="col-6">
						<label for="email" class="form-label">Adresse E-mail:</label>
						<input type="email" class="form-control" id="email" placeholder="name@example.com" value="{{ app.user.email }}" disabled>
					</div>
					<div class="col-6">
						<label for="birthDate" class="form-label">Date de naissance:</label>
						<input type="date" class="form-control" id="birthDate" placeholder="name@example.com" value="{{ app.user.birthDate|date("Y-m-d") }}" disabled>
					</div>
					<div class="col-6">
						<label for="firstName" class="form-label">Prénom:</label>
						<input type="text" class="form-control" id="firstName" placeholder="name@example.com" value="{{ app.user.firstName }}" disabled>
					</div>
					<div class="col-6">
						<label for="lastName" class="form-label">Nom:</label>
						<input type="text" class="form-control" id="lastName" placeholder="name@example.com" value="{{ app.user.lastName }}" disabled>
					</div>
					<div class="col-6">
						<label for="phone" class="form-label">Numero de téléphone:</label>
						<input type="text" class="form-control" id="phone" placeholder="name@example.com" value="{{ app.user.phoneNumber }}" disabled>
					</div>
					{% if app.user.addresses|length > 0 %}
						<div class="col-12 mt-5 border-bottom">
							<span class="fs-3">Adresses:</span>
						</div>
						{% for address in app.user.addresses %}
							<div class="offset-9 col-3 text-end text-muted fs-6 mt-3">Dernière modification: {{ address.updatedAt|date('Y-m-d') }}</div>


							<div class="col-12 col-lg-2">
								<input class="form-control" type="text" value="{{ address.number }}" disabled>
							</div>
							<div class="col-12 col-lg-3">
								<input class="form-control" type="text" value="{{ address.street }}" disabled>
							</div>
							<div class="col-12 col-lg-2">
								<input class="form-control" type="text" value="{{ address.zipcode }}" disabled>
							</div>
							<div class="col-12 col-lg-3">
								<input class="form-control" type="text" value="{{ address.city }}" disabled>
							</div>
							<div class="col-12 col-lg-2 mb-3">
								<input class="form-control" type="text" value="{{ address.country }}" disabled>
							</div>

						{% endfor %}
					{% endif %}
					<div class="col-12 text-center my-5">
						<a class="btn btn-warning" href="{{ path("userProfileUpdateForm") }}">Modifier</a>
					</div>
				</div>


			</div>
			<div class="tab-pane fade" id="securite-tab-pane" role="tabpanel" aria-labelledby="securite-tab" tabindex="0">...</div>

		</div>
	</div>
{% endblock %}
